{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block main %}$
    <h2>Nom : {{ canard.nom }}</h2>
    <img src="{{asset('images/'~ canard.imageName)}}" alt="{{canard.imageName}}">
    <p> {{canard.description}} </p>
    <p>Created by : {{canard.user.email}}</p>
{% endblock %}
