{% extends 'base.html.twig' %}

{% block title %}Galerie{% endblock %}

{% block main %}
    <div class="titre">
        <h2>Galerie</h2>
    </div>
    <section id="presentationGalerie">
        {% for canard in galerie %}
            <div class="canardCarte">
                <a class="canard" href="{{ path('app_details', {'id': canard.id }) }}">
                    <img src="{{ asset('images/' ~ canard.imageName) }}" alt="{{ canard.imageName }}">
                    <div class="canardInfo">
                        <h3>Nom : {{ canard.nom }}</h2>
                        <p>{{ canard.description|slice(0, 30) ~ '...' }}</p>
                        <p>Created by : {{ canard.user.email }}</p>
                    </div>
                </a>
                {% if canard.user == app.user %}
                <div class="boutons">
                    <a class="modifier" href="{{ path('app_modifier', {'id': canard.id}) }}">modifier</a>
                    <form method="POST" onsubmit="return confirm('Confirmer la suppression ?')" action="{{ path('app_supprimer', {'id': canard.id}) }}">
                        <input type="hidden" name="_method" value="delete"> 
                        <input type="hidden" name="_token" value="{{ csrf_token('SUP' ~ canard.id) }}">
                        <input id="delete" type="submit" value="Supprimer"> 
                    </form>
                </div>
                {% endif %}
            </div>
        {% endfor %}
        </section>
        <section id="formulaire">
            {% if app.user != null %}
                <div class="form">
                    <h1>Ajoutez votre canard :</h1>
                    {{ form_start(canardform) }}
                        {{ form_widget(canardform) }}
                        <button>Envoyer</button>
                    {{ form_end(canardform) }}
                </div>
            {% endif %}
        </section>
{% endblock %}
